<% if (!resource.errors[:name].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("services.error.name_invalid") %>
  </div>
<% elsif (!resource.errors[:active].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("services.error.active_invalid") %>
  </div>
<% elsif (!resource.errors[:probe].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("services.error.probe_invalid") %>
  </div>
<% elsif (!resource.errors[:probe_config].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("services.error.probe_config_invalid") %>
  </div>
<% elsif (!resource.errors[:interval].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("services.error.interval_invalid") %>
  </div>
<% elsif (!resource.errors[:clean_interval].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("services.error.clean_interval_invalid") %>
  </div>
<% elsif (!resource.errors[:priority].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("services.error.priority_invalid") %>
  </div>
<% elsif (!resource.errors[:resume].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("services.error.resume_invalid") %>
  </div>
<% end %>
<%= form_for resource, :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-group<% if (!resource.errors[:name].blank?) %> has-error<% end %>">
    <label for="service_name" class="col-sm-2 control-label"><%= t("services.form.name") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.text_field :name, :class => "form-control", :placeholder => t("services.form.name_placeholder"), :required => true %>
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:description].blank?) %> has-error<% end %>">
    <label for="service_description" class="col-sm-2 control-label"><%= t("services.form.description") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.text_area :description, :rows => 5, :class => "form-control", :placeholder => t("services.form.description_placeholder") %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-md-7 col-sm-10">
      <hr class='divider' />
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:active].blank?) %> has-error<% end %>">
    <label for="service_active" class="col-sm-2 control-label"><%= t("services.form.activation") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.select :active, options_for_select({t("services.form.active") => true, t("services.form.inactive") => false}, :selected => resource.active), {}, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:priority].blank?) %> has-error<% end %>">
    <label for="service_priority" class="col-sm-2 control-label"><%= t("services.form.priority") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.select :priority, options_for_select(service_priorities_hash(), :selected => resource.priority), {}, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:probe].blank?) %> has-error<% end %>">
    <label for="service_probe" class="col-sm-2 control-label"><%= t("services.form.probe") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.select :probe, options_for_select(service_probes_hash(), :selected => resource.probe), {}, :class => "form-control", :onchange => "javascript:probe_change()" %>
      <% Service.available_probes.each do |probe| 
        pr = Watchr::Probes.get_probe(probe)

        if (!pr.blank?) %>
        <span id='<%= probe %>'class="help-block probe_description hidden"><%= pr.description %></span>
        <%
        end
        end %>
    </div>
  </div>
  <div id='probe-config-container'>
    <%= render "/probe_form.html.erb", :resource => resource.probe_config, :errors => resource.errors[:probe_config] %>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-md-7 col-sm-10">
      <hr class='divider' />
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:interval].blank?) %> has-error<% end %>">
    <label for="service_interval" class="col-sm-2 control-label"><%= t("services.form.interval") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.number_field :interval, :min => 1, :step => 1, :class => "form-control", :placeholder => t("services.form.interval_placeholder"), :required => true %>
      <span class="help-block"><%= t("services.form.interval_helper") %></span>
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:clean_interval].blank?) %> has-error<% end %>">
    <label for="service_interval" class="col-sm-2 control-label"><%= t("services.form.interval") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.number_field :clean_interval, :min => 1, :step => 1, :class => "form-control", :placeholder => t("services.form.clean_interval_placeholder"), :required => true %>
      <span class="help-block"><%= t("services.form.clean_interval_helper") %></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-md-7 col-sm-10">
      <hr class='divider' />
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:resume].blank?) %> has-error<% end %>">
    <label for="service_resume" class="col-sm-2 control-label"><%= t("services.form.resume") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.select :resume, options_for_select(service_resumes_hash(), :selected => resource.resume), {}, :class => "form-control" %>
      <span class="help-block"><%= t("services.form.resume_helper") %></span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-md-7 col-sm-10">
      <hr class='divider' />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-1 col-md-9 col-sm-12">
      <%= f.button "#{t("services.#{action_name}.continue")}&nbsp;&nbsp;<i class='fa fa-chevron-right'></i>".html_safe, :type => "submit", :class => "btn btn-primary pull-right" %>
      <%= link_to "<i class='fa fa-chevron-left'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.new.back")}</span>".html_safe, hosts_path(:type => @type), :class => "btn btn-default pull-left" %>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  function probe_change() {
    var value = $("select#service_probe").val();
    $("span.probe_description").addClass("hidden");
    $("span.probe_description#"+value).removeClass("hidden");

    <% if (resource.persisted?) %>
    var form_url = "<%= service_path(resource) %>/probe_form/"+value;
    <% else %>
    var form_url = "<%= new_service_path(resource) %>/probe_form/"+value;
    <% end %>

    $.ajax({
      url: form_url,
      dataType: "script"
    });
  }

  probe_change();
</script>