<% content_for :title, t("services.index_hosts.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <%= bootstrap_flash %>
    <div class="page-header clearfix">
      <h1>
        <%= t("services.index_hosts.title") %>
        <small>
          <%= @service.name %>
        </small>
      </h1>
    </div>
    <div class='table-header clearfix'>
      <div class='pull-right'>
        <% if (current_user.is_normal?) %>
          <% if (Host.where(:_id.nin => @service.host_ids).count > 0) %>
            <%= form_tag new_service_host_path(@service), :method => :post, :class => "form-inline", :role => "form" do -%>
              <div class="form-group">
                <%= select_tag "host_id", options_for_select(Host.where(:_id.nin => @service.host_ids).collect{ |u| [u.name, u.id] }), :class => "form-control" %>
              </div>
              <div class="form-group">
                <%= button_tag "<i class='fa fa-plus'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index_hosts.button.add")}</span>".html_safe, {:type => "submit", :class => "btn btn-success"} %>
              </div>
            <% end %>
          <% else %>
            <div class='form-inline'>
              <div class="form-group">
                <%= select_tag "host_id", {}, :class => "form-control disabled" %>
              </div>
              <div class="form-group">
                <%= button_tag "<i class='fa fa-plus'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index_hosts.button.add")}</span>".html_safe, {:class => "btn btn-success disabled"} %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <br />
    <table class="table table-hover table-elements">
      <thead>
        <tr>
          <th class='col-xs-3'><%= t("services.index_hosts.table.name") %></th>
          <th class='col-xs-3'><%= t("services.index_hosts.table.address") %></th>
          <th class='col-xs-6'></th>
        </tr>
      </thead>
      <tbody>
        <% @hosts.each do |host| %>
        <tr class='element'>
          <td>
            <%= host.name %>
          </td>
          <td>
            <%= host.address %>
          </td>
          <td align='right'>
            <%= link_to "<i class='fa fa-eye'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index_hosts.button.show")}</span>".html_safe, host_path(host), :class => "btn btn-sm btn-success", :title => t("services.index_hosts.button.show") %>
            <% if (current_user.is_normal?) %>
            <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index_hosts.button.destroy")}</span>".html_safe, delete_service_host_path(:id => @service.id, :host_id => host.id), :method => :delete, :class => "btn btn-sm btn-danger", :title => t("services.index_hosts.button.destroy"), :data => {:confirm => t("services.index_hosts.button.destroy_confirmation")} %>
            <% else %>
            <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index_hosts.button.destroy")}</span>".html_safe, nil, :class => "btn btn-sm btn-danger disabled", :title => t("services.index_hosts.button.destroy") %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if (@hosts.count == 0) %>
          <% if (!@query.blank?) %>
            <tr class="no-elements">
              <td colspan="3">
                <%= raw t("ui.table.no_result") %>
              </td>
            </tr>
          <% else %>
            <tr class="no-elements">
              <td colspan="3">
                <%= raw t("ui.table.no_element") %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= link_to t("services.new.back"), services_path(), :class => "btn btn-default pull-left" %>
  </div>
</div>