<% content_for :title, t("services.results.title") %>
<div class='content-full row-fluid'>
  <div class="page-header clearfix">
    <h1>
      <%= t("services.results.title") %>
      <small>
        <%= @service.name %>
      </small>
      <div id='service-selector' class='pull-right'>
        <%= form_tag results_service_path(), :method => :post, :class => "form-inline", :role => "form" do -%>
          <div class="form-group">
            <%= select_tag "id", 
                  options_for_select(Service.where(:active => true).collect{ |u| [u.name, u.id] }, @service.id.to_s), 
                  :class => "form-control", 
                  :onchange => "if(this.value != '') { var url='#{results_service_path(:id => 'serviceid')}'; window.location=url.replace('serviceid', this.value); }"
              %>
          </div>
        <% end %>
      </div>
    </h1>
  </div>
  <div class='col-lg-9 col-md-8'>
    <%= bootstrap_flash %>

    <div id='chart-panel' class="panel panel-primary chart-panel"> <!-- chart container -->
      <div class="panel-heading">
        <b><%= t("services.results.results_history") %></b>
        <div class="pull-right form-inline" >
          <b>View:&nbsp;</b> 
          <%= select_tag :resume, 
                options_for_select(service_short_resumes_hash(), 
                :selected => @service.resume), 
                { :class => "form-control input-sm", 
                  :style => "margin-top: -5px",
                  :onchange => "changeChartResume(this.value)" } %>
        </div>
      </div>
      <div id='chart-container' class='chart-container'></div>
    </div>

    <div id='alerts-panel' class="panel panel-primary alerts-panel"> <!-- chart container -->
      <div class="panel-heading">
        <b><%= t("services.results.alerts_history", :service => @service.name) %></b>
      </div>
      <div class='panel-body'>
        No data yet.
      </div>
    </div>
  </div>

  <div class='col-lg-3 col-md-4'>
    <div id='hosts-results'>
      <%= render(:partial => "services/panels/hosts_results") %>
    </div>

    <div id='service-info'>
      <%= render(:partial => "services/panels/service_info") %>
    </div>
  </div>
</div>
<script>
  var chart_id = null;

  $(document).ready(function() {
    chart_id = chartStart({
      container: $("#chart-container"),
      live: true,
      interval: <%= @service.interval %>,
      clean_interval: <%= @service.clean_interval %>,
      texts: {
        title: "<%= t('services.results.chart.title', :service => @service.name) %>",
        subtitle: "<%= t('services.results.chart.subtitle', :interval => @service.interval) %>",
        x_axis: "<%= t('services.results.chart.x_axis') %>",
        y_axis: "<%= t('services.results.chart.y_axis') %> [<%= @service.get_units_short %>]",
        legend: "<%= t('services.results.chart.legend', :service => @service.name) %>"
      },
      data_url: "<%= results_data_service_path(@service.id) %>",
      resume: "<%= @service.resume %>"
    });

    setInterval(function() {
      $.getScript("<%= results_service_path(@service.id) %>");
    }, <%= @service.interval %>*1000);
  });

  /*
   * Function to change the resume function of the chart.
   */
  function changeChartResume(resume) {
    chartStop(chart_id);

    chart_id = chartStart({
      container: $("#chart-container"),
      live: true,
      interval: <%= @service.interval %>,
      clean_interval: <%= @service.clean_interval %>,
      texts: {
        title: "<%= t('services.results.chart.title', :service => @service.name) %>",
        subtitle: "<%= t('services.results.chart.subtitle', :interval => @service.interval) %>",
        x_axis: "<%= t('services.results.chart.x_axis') %>",
        y_axis: "<%= t('services.results.chart.y_axis') %> [<%= @service.get_units_short %>]",
        legend: "<%= t('services.results.chart.legend', :service => @service.name) %>"
      },
      data_url: "<%= results_data_service_path(@service.id) %>",
      resume: resume
    });
  }
</script>