<% content_for :title, t("services.show.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <div class="page-header clearfix">
      <h1>
        <%= t("services.show.title") %>
        <small>
          <%= @service.name %>
        </small>
      </h1>
    </div>
    <%= bootstrap_flash %>
    <div class='form-horizontal'>
      <div class="form-group">
        <label for="service_name" class="col-sm-3 control-label"><%= t("services.form.name") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.name %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="service_description" class="col-sm-3 control-label"><%= t("services.form.description") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.description %></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-md-7 col-sm-9">
          <hr class='divider' />
        </div>
      </div>
      <div class="form-group">
        <label for="service_active" class="col-sm-3 control-label"><%= t("services.form.activation") %></label>
        <div class="col-md-7 col-sm-9">
          <% if (@service.is_active?) %>
          <p class="form-control-static text-success"><%= t("services.form.active") %></p>
          <% else %>
          <p class="form-control-static text-danger"><%= t("services.form.inactive") %></p>
          <% end %>
        </div>
      </div>
      <div class="form-group">
        <label for="service_priority" class="col-sm-3 control-label"><%= t("services.form.priority") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= t("services.priorities.priority_#{@service.priority.to_s}") %></p>
        </div>
      </div>
      <% if (!@service.get_probe.blank?) %>
      <div class="form-group">
        <label for="service_probe" class="col-sm-3 control-label"><%= t("services.form.probe") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.probe %></p>
          <span class="help-block probe_description"><%= @service.get_probe.description_html %></span>
        </div>
      </div>
      <%= render "/probe_show.html.erb", :config => @service.probe_config %>
      <% else %>
      <div class="form-group has-error">
        <label for="service_probe" class="col-sm-3 control-label"><%= t("services.form.probe") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static text-danger"><%= t("services.form.probe_not_found") %></p>
        </div>
      </div>
      <% end %>
      <div class="form-group">
        <div class="col-sm-offset-3 col-md-7 col-sm-9">
          <hr class='divider' />
        </div>
      </div>
      <div class="form-group">
        <label for="service_interval" class="col-sm-3 control-label"><%= t("services.form.interval") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.interval %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="service_clean_interval" class="col-sm-3 control-label"><%= t("services.form.clean_interval") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.clean_interval %></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-md-7 col-sm-9">
          <hr class='divider' />
        </div>
      </div>
      <div class="form-group">
        <label for="service_resume" class="col-sm-3 control-label"><%= t("services.form.resume") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= t("services.resumes.resume_#{@service.resume.to_s}") %></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-md-7 col-sm-9">
          <hr class='divider' />
        </div>
      </div>
      <div class="form-group">
        <label for="service_hosts" class="col-sm-3 control-label"><%= t("services.form.hosts") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.hosts.to_a.map{|h| h = h.name}.join(", ") %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="service_hosts" class="col-sm-3 control-label"><%= t("services.form.alerts") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.alerts.to_a.map{|h| h = h.name}.join(", ") %></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-md-7 col-sm-9">
          <hr class='divider' />
        </div>
      </div>
      <div class="form-group">
        <label for="service_created_at" class="col-sm-3 control-label"><%= t("services.form.created_at") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.created_at.strftime("%m/%d/%Y - %H:%M") %></p>
        </div>
      </div>
      <div class="form-group">
        <label for="services_updated_at" class="col-sm-3 control-label"><%= t("services.form.updated_at") %></label>
        <div class="col-md-7 col-sm-9">
          <p class="form-control-static"><%= @service.updated_at.strftime("%m/%d/%Y - %H:%M") %></p>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-md-7 col-sm-9">
          <hr class='divider' />
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-offset-1 col-md-9 col-sm-12">
          <div class='pull-right'>
            <%= link_to "<i class='fa fa-laptop'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index.button.hosts")}</span>".html_safe, service_hosts_path(@service), :class => "btn btn-warning", :title => t("services.index.button.hosts") %>
            <% if (current_user.is_normal?) %>
            <%= link_to "<i class='fa fa-pencil'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index.button.edit")}</span>".html_safe, edit_service_path(@service), :class => "btn btn-info", :title => t("services.index.button.edit") %>
            <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index.button.destroy")}</span>".html_safe, service_path(@service), :method => :delete, :class => "btn btn-danger", :title => t("services.index.button.destroy"), :data => {:confirm => t("services.index.button.destroy_confirmation")} %>
            <% else %>
              <%= link_to "<i class='fa fa-pencil'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index.button.edit")}</span>".html_safe, nil, :class => "btn btn-info disabled", :title => t("services.index.button.edit") %>
              <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.index.button.destroy")}</span>".html_safe, nil, :class => "btn btn-danger disabled", :title => t("services.index.button.destroy")%>
            <% end %>
          </div>
          <%= link_to "<i class='fa fa-chevron-left'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("services.new.back")}</span>".html_safe, services_path(:priority => @priority), :class => "btn btn-default pull-left" %>
        </div>
      </div>
    </div>
  </div>
</div>