<div id="host-results-panel" class="panel panel-primary host-results-panel">
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <b><%= t("services.results.hosts_results.title") %></b>
    </div>
    <div class="pull-right">
      <%= status_badge(@service) %>
    </div>
  </div>
  <table class="table table-hover table-results">
    <thead>
      <tr>
        <th class="col-xs-5"><%= t("services.results.hosts_results.table.host") %></th>
        <th class="col-xs-3"><%= t("services.results.hosts_results.table.status") %></th>
        <th class="col-xs-4"><%= t("services.results.hosts_results.table.result", :units => @service.get_units_short) %></th>
      </tr>
    </thead>
    <tbody>
    <% if (!@service.results.last.blank?) %>
      <% @service.results.last.host_results.each do |hresult|%>
      <tr onclick="location.href='<%= host_results_service_path(:id => @service.id, :host_id => hresult.host_id) %>'">
        <td><%= link_to(hresult.host.name, host_results_service_path(:id => @service.id, :host_id => hresult.host_id)) %></td>
        <td><%= host_result_status_text(hresult) %></td>
        <td><%= hresult.value.to_f %></td>
      </tr>
      <% end %>
    <% else %>
      <tr class='no-results'>
        <td colspan="3">
          <%= t("services.results.hosts_results.table.no_results") %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <% if (!@service.results.last.blank?) %>
    <tfoot>
      <tr>
        <td>
          <b><%= t("services.results.hosts_results.table.global") %></b>
        </td>
        <td>
          <%= service_status_text(@service) %>
        </td>
        <td>
          <%= @service.results.last.global_value %>
        </td>
      </tr>
    </tfoot>
    <% end %>
  </table>
</div>