<div id="host-results-panel" class="panel panel-primary host-results-panel">
  <div class="panel-heading clearfix">
    <div class="pull-left">
      <b><%= t("services.results.hosts_results.title") %></b>
    </div>
    <div class="pull-right">
      <%= service_status_badge(@service.status) %>
    </div>
  </div>
  <table class="table table-hover table-results">
    <thead>
      <tr>
        <th class="col-xs-5"><%= t("services.results.hosts_results.table.host") %></th>
        <th class="col-xs-3"><%= t("services.results.hosts_results.table.status") %></th>
        <th class="col-xs-4"><%= t("services.results.hosts_results.table.result", :units => @service.get_units_short) %></th>
      </tr>
    </thead>
    <tbody>
    <% if (!@service.results.last.blank?) %>
      <% 
      host_results = @service.results.last.host_results.to_a
      
      @service.hosts.each do |host| 
        hresult = host_results.select{|u| u.host_id == host.id}.first
        %>
      <tr onclick="location.href='<%= host_results_service_path(:id => @service.id, :host_id => host.id) %>'">
        <td><%= link_to(host.name, host_results_service_path(:id => @service.id, :host_id => host.id)) %></td>
        <td>
        <% if (!hresult.blank?) # is there a result of this host? %>
          <% if (hresult.is_ok?) %>
          <strong class="text-success"><%= t("services.status.ok").upcase %></strong>
          <% else %>
          <strong class="text-danger"><%= t("services.status.error").upcase %></strong>
          <% end %>
        <% else %>
          <strong class="text-info"><%= t("services.status.inactive").upcase %></strong>
        <% end %>
        </td>
        <td>
          <% if (!hresult.blank?) %>
          <%= hresult.value %>
          <% end %>
        </td>
      </tr>
      <% end %>
    <% else %>
      <tr class='no-results'>
        <td colspan="3">
          <%= t("services.results.hosts_results.table.no_results") %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <% if (!@service.results.last.blank?) %>
    <tfoot>
      <tr>
        <td>
          <b><%= t("services.results.hosts_results.table.global") %></b>
        </td>
        <td>
          <%= service_status_text(@service.status) %>
        </td>
        <td>
          <%= @service.results.last.global_value %>
        </td>
      </tr>
    </tfoot>
    <% end %>
  </table>
</div>