<div id="service-info-panel" class="panel panel-primary service-info-panel">
  <div class="panel-heading clearfix">
    <b><%= t("services.results.service_info") %></b>
  </div>
  <table class="table">
    <tbody>
      <tr>
        <td class="col-xs-4">
          <b><%= t("services.form.name") %></b>
        </td>
        <td class="col-xs-8">
          <%= @service.name %>
        </td>
      </tr>
      <tr>
        <td>
          <b><%= t("services.form.activation") %></b>
        </td>
        <td>
          <% if (@service.is_active?) %>
          <span class="text-success"><%= t("services.form.active") %></span>
          <% else %>
          <span class="text-danger"><%= t("services.form.inactive") %></span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td>
          <b><%= t("services.form.priority") %></b>
        </td>
        <td>
          <%= t("services.priorities.priority_#{@service.priority.to_s}") %>
        </td>
      </tr>
      <% if (!@service.get_probe.blank?) %>
      <tr>
        <td>
          <b><%= t("services.form.interval") %></b>
        </td>
        <td>
          <%= @service.interval %>
        </td>
      </tr>
      <% end %>
      <tr>
        <td>
          <b><%= t("services.form.clean_interval") %></b>
        </td>
        <td>
          <%= @service.clean_interval %>
        </td>
      </tr>
      <tr>
        <td>
          <b><%= t("services.form.resume") %></b>
        </td>
        <td>
          <%= t("services.resumes.#{@service.resume.to_s}_explanation") %>
        </td>
      </tr>
    </tbody>
  </table>
</div>