<% content_for :title, t("hosts.alert_records.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <%= bootstrap_flash %>
    <div class="page-header clearfix">
      <h1>
        <%= t("hosts.alert_records.title") %>
        <small>
          <%= t("hosts.alert_records.subtitle", :host => @host.name) %>
        </small>
      </h1>
    </div>
    <div class='table-header clearfix'>
      <div class='pull-left'>
        <% if (@query.blank?) %>
        <%= raw t("ui.table.showing_all", :entry_name => @alert_records.model_name.human(count: 2)) %>
        <% else %>
        <%= raw t("ui.table.showing_results", :entry_name => @alert_records.model_name.human(count: 2), :query => @query) %>
        <% end %>
        <br /><%= page_entries_info @alert_records%>
      </div>
    </div>
    <br />
    <table class="table table-hover table-elements">
      <thead>
        <tr>
          <th class="col-xs-2 text-center"><%= t("hosts.alert_records.table.status") %></th>
          <th class="col-xs-5"><%= t("hosts.alert_records.table.description") %></th>
          <th class="col-xs-3"><%= t("hosts.alert_records.table.registration_date") %></th>
          <th class="col-xs-2"></th>
        </tr>
      </thead>
      <tbody>
        <% @alert_records.each do |alert_record| %>
        <tr class="element">
          <td class="text-center">
            <strong class="<% if (alert_record.open) %>text-danger<% else %>text-success<% end %>">
              <% if (alert_record.open) %>
              <%= t("alerts.record_status.open").upcase %>
              <% else %>
              <%= t("alerts.record_status.closed").upcase %>
              <% end %>
            </strong>
          </td>
          <td>
            <% if (alert_record.open) %><strong class='text-danger'><% end %>
            <% if (!alert_record.service.blank?) %>
              <% if (alert_record.host_ids.count == 1) %>
                <%= raw t("alerts.record_description.host", :alert => alert_record.alert.name, :host => alert_record.hosts.first.name) %>
              <% else %>
                <%= raw t("alerts.record_description.hosts", :alert => alert_record.alert.name) %>
              <% end %>
            <% else %>
            <span class="text-danger"><%= t("hosts.alert_records.table.no_data") %></span>
            <% end %>
            <% if (alert_record.open) %></strong><% end %>
          </td>
          <td>
            <% if (alert_record.open) %><strong class='text-danger'><% end %>
            <%= alert_record.created_at.strftime("%d/%m/%Y - %H:%M") %>
            <% if (alert_record.open) %></strong><% end %>
          </td>
          <td align="right">
            <%= link_to "<i class='fa fa-eye'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("hosts.alert_records.button.show")}</span>".html_safe, alert_record_path(alert_record), :class => "btn btn-sm btn-success", :title => t("hosts.alert_records.button.show") %>
          </td>
        </tr>
        <% end %>
        <% if (@alert_records.count == 0) %>
          <tr class="no-elements">
            <td colspan="4">
              <%= raw t("ui.table.no_element") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div class='pull-right clearfix'>
      <%= paginate @alert_records %>
    </div>
  </div>
</div>
      