<% content_for :title, t("hosts.results.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <div class="page-header clearfix">
      <h1>
        <%= t("hosts.results.title") %>
        <small>
          <%= @host.name %>
        </small>
        <div id='host-selector' class='pull-right'>
          <%= form_tag results_host_path(), :method => :post, :class => "form-inline", :role => "form" do -%>
            <div class="form-group">
              <%= select_tag "id", 
                    options_for_select(Host.where(:active => true).collect{ |u| [u.name, u.id] }, @host.id.to_s), 
                    :class => "form-control", 
                    :onchange => "if(this.value != '') { var url='#{results_host_path(:id => 'hostid')}'; window.location=url.replace('hostid', this.value); }"
                %>
            </div>
          <% end %>
        </div>
      </h1>
    </div>
    <%= bootstrap_flash %>
    <div id='host-results row'>
      <% @host.services.each do |serv| %>
      <div class='col-md-6'>
        <div id='service-panel-<%= serv.id.to_s %>' class="panel panel-primary service-panel">
          <div class="panel-heading clearfix">
            <b><%= t('hosts.results.service_panel.title', :service => serv.name) %></b>
            <div class='pull-right'>
              <% if (serv.status == Service::STATUS_OK) %>
              <span class='badge'><strong class='text-success'><%= t("services.status.ok").upcase %></strong></span>
              <% elsif (serv.status == Service::STATUS_ERROR) %>
              <span class='badge'><strong class='text-danger'><%= t("services.status.error").upcase %></strong></span>
              <% elsif (serv.status == Service::STATUS_WARNING) %>
              <span class='badge'><strong class='text-warning'><%= t("services.status.warning").upcase %></strong></span>
              <% else %>
              <span class='badge'><strong class='text-primary'><%= t("services.status.unknown").upcase %></strong></span>
              <% end %>
            </div>
          </div>
          <div class='panel-body'>
            <div id='chart-container' class='chart-container'></div>
            <%= link_to(t('hosts.results.service_panel.button'), host_results_service_path(:id => serv.id, :host_id => @host.id), :class => 'btn btn-block btn-primary') %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    <% @host.services.each do |serv| %>
    chartStart({
      container: $("#service-panel-<%= serv.id.to_s %> #chart-container"),
      height: 300,
      live: true,
      interval: <%= serv.interval %>,
      clean_interval: <%= serv.clean_interval %>,
      texts: {
        title: "<%= t('hosts.results.chart.title', :service => serv.name, :host => @host.name) %>",
        subtitle: "<%= t('hosts.results.chart.subtitle', :interval => serv.interval) %>",
        x_axis: "<%= t('hosts.results.chart.x_axis') %>",
        y_axis: "<%= t('services.resumes.'+ serv.resume.to_s) %> [<%= serv.get_units_short %>]",
        legend: "<%= t('hosts.results.chart.legend', :service => serv.name) %>"
      },
      data_url: "<%= results_data_service_path(serv.id) %>"
    });
    <% end %>
  });
</script>