<% content_for :title, t("monitoring.index.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <div class="page-header clearfix">
      <h1>
        <%= t("monitoring.index.title") %>
        <small>
          <%= t("monitoring.index.subtitle") %>
        </small>
      </h1>
    </div>
    <%= bootstrap_flash %>
    <div class='monitoring'>
      <div class="row">
        <% @services.each do |serv| %>
        <div class='item'>
          <div class="panel panel-primary">
            <div class="panel-heading clearfix">
              <div class='pull-left'>
                <b><%= serv.name %></b>
              </div>
              <div class='pull-right'>
                <% if (serv.status == Service::STATUS_OK) %>
                <span class='badge'><strong class='text-success'><%= t("monitoring.index.status.ok") %></strong></span>
                <% elsif (serv.status == Service::STATUS_ERROR) %>
                <span class='badge'><strong class='text-danger'><%= t("monitoring.index.status.error") %></strong></span>
                <% elsif (serv.status == Service::STATUS_WARNING) %>
                <span class='badge'><strong class='text-warning'><%= t("monitoring.index.status.warning") %></strong></span>
                <% else %>
                <span class='badge'><strong class='text-primary'><%= t("monitoring.index.status.unknown") %></strong></span>
                <% end %>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr>
                  <th class="col-xs-5"><%= t("monitoring.index.table.host") %></th>
                  <th class="col-xs-3"><%= t("monitoring.index.table.status") %></th>
                  <th class="col-xs-4"><%= t("monitoring.index.table.result") %></th>
                </tr>
              </thead>
              <tbody>
                <% serv.results.last.host_results.each do |hresult| %>
                <tr>
                  <td><%= hresult.host.name %></td>
                  <td>
                  <% if (hresult.is_ok?) %>
                    <strong class='text-success'><%= t("monitoring.index.status.ok") %></strong>
                  <% else %>
                    <strong class='text-danger'><%= t("monitoring.index.status.error") %></strong>
                  <% end %>
                  </td>
                  <td><%= hresult.value %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        <% end %>
      </div>
      <% if @services.length == 0 %>
        <div class="no-results">
          <%= raw t("ui.table.no_element") %>
        </div>
      <% end %>
      <hr class='divider' />
    </div>
  </div>
</div>