<% if (!resource.errors[:email].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("users.error.email_invalid") %>
  </div>
<% elsif (!resource.errors[:level].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("users.error.level_invalid") %>
  </div>
<% elsif (!resource.errors[:name].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("users.error.name_invalid") %>
  </div>
<% elsif (!resource.errors[:gravatar_email].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("users.error.gravatar_email_invalid") %>
  </div>
<% elsif (!resource.errors[:lang].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("users.error.lang_invalid") %>
  </div>
<% end %>
<%= form_for resource, :html => {:class => "form-horizontal"} do |f| %>
  <div class="form-group<% if (!resource.errors[:email].blank?) %> has-error<% end %>">
    <label for="user_email" class="col-sm-2 control-label"><%= t("users.form.email") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.email_field :email, :class => "form-control", :placeholder => t("users.form.email_placeholder"), :required => true %>
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:password].blank?) %> has-error<% end %>">
    <label for="user_change_password" class="col-sm-2 control-label"><%= t("users.form.password") %></label>
    <div class="col-md-7 col-sm-10">
      <% if (resource.persisted?) %>
      <div class="radio">
        <label>
          <input type="radio" name="user[change_password]" id="user_change_password" value="false" checked>
          <%= t("users.form.password_unchanged") %>
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="user[change_password]" id="user_change_password" value="true">
          <%= t("users.form.password_generated") %>
        </label>
      </div>
      <% else %>
      <p class="form-control-static"><%= t("users.form.password_generated") %></p>
      <% end %>
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:level].blank?) %> has-error<% end %>">
    <label for="user_level" class="col-sm-2 control-label"><%= t("users.form.privilege_level") %></label>
    <div class="col-md-7 col-sm-10">
      <% if (resource.id != current_user.id) %>
        <%= f.select :level, options_for_select(levels_hash(), :selected => resource.level), {}, :class => "form-control" %>
      <% else %>
        <p class="form-control-static"><%= t("users.levels.level_#{resource.level}") %></p>
        <span class="help-block"><%= t("users.form.privilege_level_yourself") %></span>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-md-7 col-sm-10">
      <hr class='divider' />
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:name].blank?) %> has-error<% end %>">
    <label for="user_name" class="col-sm-2 control-label"><%= t("users.form.name") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.text_field :name, :class => "form-control", :placeholder => t("users.form.name_placeholder"), :required => true %>
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:gravatar_email].blank?) %> has-error<% end %>">
    <label for="user_gravatar_email" class="col-sm-2 control-label"><%= t("users.form.gravatar_email") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.text_field :gravatar_email, :class => "form-control", :placeholder => t("users.form.gravatar_email_placeholder") %>
      <span class="help-block"><%= t("users.form.gravatar_email_helper") %></span>
    </div>
  </div>
  <div class="form-group<% if (!resource.errors[:lang].blank?) %> has-error<% end %>">
    <label for="user_lang" class="col-sm-2 control-label"><%= t("users.form.language") %></label>
    <div class="col-md-7 col-sm-10">
      <%= f.select :lang, options_for_select(languages_hash(), :selected => resource.lang), {}, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-md-7 col-sm-10">
      <hr class='divider' />
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-1 col-md-9 col-sm-12">
      <%= f.button "#{t("users.#{action_name}.continue")}&nbsp;&nbsp;<i class='fa fa-chevron-right'></i>".html_safe, :type => "submit", :class => "btn btn-primary pull-right" %>
      <%= link_to "<i class='fa fa-chevron-left'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("users.new.back")}</span>".html_safe, users_path(:level => @level), :class => "btn btn-default pull-left" %>
    </div>
  </div>
<% end %>