<% content_for :title, t("users.index.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <%= bootstrap_flash %>
    <div class="page-header clearfix">
      <h1>
        <%= t("users.index.title") %>
        <small>
          <% if (@level.blank?) %>
          <%= t("users.index.subtitle.all") %>
          <% elsif (@level == User::ADMINISTRATOR_USER) %>
          <%= t("users.index.subtitle.administrator") %>
          <% elsif (@level == User::NORMAL_USER) %>
          <%= t("users.index.subtitle.normal") %>
          <% elsif (@level == User::GUEST_USER) %>
          <%= t("users.index.subtitle.guest") %>
          <% end %>
        </small>
        <span class='pull-right'>
          <%= link_to "<i class='fa fa-plus'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;<b>#{t("users.index.button.new")}</b></span>".html_safe, new_user_path(:level => @level), :class => "btn btn-success", :title => t("users.index.button.new") %>
        </span>
      </h1>
    </div>
    <div class='table-header clearfix'>
      <div class='pull-left'>
        <% if (@query.blank?) %>
        <%= raw t("ui.table.showing_all", :entry_name => @users.model_name.human(count: 2)) %>
        <% else %>
        <%= raw t("ui.table.showing_results", :entry_name => @users.model_name.human(count: 2), :query => @query) %>
        <% end %>
        <br /><%= page_entries_info @users%>
      </div>
      <div class='pull-right'>
        <%= form_tag users_path(), :method => :get, :class => "form-inline", :role => "form" do -%>
          <% if (!@level.blank?) %>
          <%= hidden_field_tag "level", @level %>
          <% end %>
          <div class="form-group">
            <%= text_field_tag "q", @query, :placeholder => t("ui.table.search_placeholder"), :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= button_tag t("ui.table.search"), {:type => "submit", :class => "btn btn-primary"} %>
          </div>
        <% end %>
      </div>
    </div>
    <br />
    <table class="table table-hover table-elements">
      <thead>
        <tr>
          <th class='col-xs-1'></th>
          <th class='col-xs-3'>Name</th>
          <th class='col-xs-4'>E-mail</th>
          <th class='col-xs-4'></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr class='element'>
          <td align="center"><%= image_tag user.avatar_url(35), :class => "with-border color" %></td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.email %>
          </td>
          <td align='right'>
            <%= link_to "<i class='fa fa-eye'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("users.index.button.show")}</span>".html_safe, user_path(user), :class => "btn btn-sm btn-success", :title => t("users.index.button.show") %>
            <% if (current_user.is_administrator?) %>
            <%= link_to "<i class='fa fa-pencil'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("users.index.button.edit")}</span>".html_safe, edit_user_path(user), :class => "btn btn-sm btn-info", :title => t("users.index.button.edit") %>
              <% if (user.id != current_user.id) %>
              <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("users.index.button.destroy")}</span>".html_safe, user_path(user), :method => :delete, :class => "btn btn-sm btn-danger", :title => t("users.index.button.destroy"), :data => {:confirm => t("users.index.button.destroy_confirmation")} %>
              <% else %>
              <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("users.index.button.destroy")}</span>".html_safe, nil, :class => "btn btn-sm btn-danger disabled", :title => t("users.index.button.destroy") %>
              <% end %>
            <% else %>
            <%= link_to "<i class='fa fa-pencil'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("users.index.button.edit")}</span>".html_safe, nil, :class => "btn btn-sm btn-info disabled", :title => t("users.index.button.edit") %>
            <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("users.index.button.destroy")}</span>".html_safe, nil, :class => "btn btn-sm btn-danger disabled", :title => t("users.index.button.destroy") %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if (@users.count == 0) %>
          <% if (!@query.blank?) %>
            <tr class="no-elements">
              <td colspan="4">
                <%= raw t("ui.table.no_result") %>
              </td>
            </tr>
          <% else %>
            <tr class="no-elements">
              <td colspan="4">
                <%= raw t("ui.table.no_element") %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class='pull-right clearfix'>
      <%= paginate @users %>
    </div>
  </div>
</div>