<% content_for :title, t("devise.password.new.title") %>
<% if (!resource.errors[:email].blank?) %>
  <div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <%= raw t("users.error.email_invalid") %>
  </div>
<% end %>
<b><%= t("devise.password.new.text").html_safe %></b>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="form-group<% if (!resource.errors[:email].blank?)%> has-error<% end %>">
    <%= f.email_field :email, :autocomplete => "off", :class => "form-control", :placeholder => t("devise.password.new.email_placeholder"), :required => :true %>
  </div>

  <div class="form-group">
    <%= f.submit t("devise.password.new.send_email"), :class => "btn btn-primary btn-block" %>
  </div>
<% end %>

<%= link_to "<i class='fa fa-chevron-left'></i>&nbsp;&nbsp;".html_safe+t("devise.password.new.back_login"), new_session_path(resource_name) %>
