<% content_for :title, t("alerts.edit.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <div class="page-header clearfix">
      <h1>
        <%= t("alerts.edit.title") %>
        <small>
          <%= @alert.name %>
        </small>
      </h1>
    </div>
    <%= render "form", :resource => @alert %>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function() {
    function getServiceHosts(service_id){
      // Construct the URL
      var url = "<%= service_hosts_alert_path(:id => @alert.id, :service_id => 'servid') %>";
      url = url.replace("servid", service_id)

      // Get the data
      $.getScript(url);
    }

    $("#alert_service_id").on("change", function() {
      getServiceHosts(this.value);
    });

    getServiceHosts($("#alert_service_id").val());
});
</script>