<% content_for :title, t("alerts.index.title") %>
<div class='row-fluid'>
  <div class='sidebar'>
    <%= render :partial => "sidebar" %>
  </div>
  <div class='content'>
    <%= bootstrap_flash %>
    <div class="page-header clearfix">
      <h1>
        <%= t("alerts.index.title") %>
        <small>
          <%= t("alerts.index.subtitle") %>
        </small>
        <% if (current_user.is_normal?) %>
        <span class='pull-right'>
          <%= link_to "<i class='fa fa-plus'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;<b>#{t("alerts.index.button.new")}</b></span>".html_safe, new_alert_path(), :class => "btn btn-success", :title => t("alerts.index.button.new") %>
        </span>
        <% end %>
      </h1>
    </div>
    <div class='table-header clearfix'>
      <div class='pull-left'>
        <% if (@query.blank?) %>
        <%= raw t("ui.table.showing_all", :entry_name => @alerts.model_name.human(count: 2)) %>
        <% else %>
        <%= raw t("ui.table.showing_results", :entry_name => @alerts.model_name.human(count: 2), :query => @query) %>
        <% end %>
        <br /><%= page_entries_info @alerts%>
      </div>
      <div class='pull-right'>
        <%= form_tag alerts_path(), :method => :get, :class => "form-inline", :role => "form" do -%>
          <div class="form-group">
            <%= text_field_tag "q", @query, :placeholder => t("ui.table.search_placeholder"), :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= button_tag t("ui.table.search"), {:type => "submit", :class => "btn btn-primary"} %>
          </div>
        <% end %>
      </div>
    </div>
    <br />
    <table class="table table-hover table-elements">
      <thead>
        <tr>
          <th class='col-xs-3'><%= t("alerts.table.name") %></th>
          <th class='col-xs-3'><%= t("alerts.table.service") %></th>
          <th class='col-xs-6'></th>
        </tr>
      </thead>
      <tbody>
        <% @alerts.each do |alert| %>
        <tr class='element '>
          <td>
            <%= alert.name %>
            <% if (!alert.is_active?) %><span class='text-primary'>(<%= t("alerts.form.inactive") %>)</span><% end %>
          </td>
          <td>
            <% if (!alert.service.blank?) %>
            <%= alert.service.name %>
            <% else %>
            <span class='text-danger'><%= t("alerts.table.error") %></span>
            <% end %>
          </td>
          <td align='right'>
            <%= link_to "<i class='fa fa-eye'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("alerts.index.button.show")}</span>".html_safe, alert_path(alert), :class => "btn btn-sm btn-success", :title => t("alerts.index.button.show") %>
            <% if (current_user.is_normal?) %>
            <%= link_to "<i class='fa fa-pencil'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("alerts.index.button.edit")}</span>".html_safe, edit_alert_path(alert), :class => "btn btn-sm btn-info", :title => t("alerts.index.button.edit") %>
            <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("alerts.index.button.destroy")}</span>".html_safe, alert_path(alert), :method => :delete, :class => "btn btn-sm btn-danger", :title => t("alerts.index.button.destroy"), :data => {:confirm => t("alerts.index.button.destroy_confirmation")} %>
            <% else %>
            <%= link_to "<i class='fa fa-pencil'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("alerts.index.button.edit")}</span>".html_safe, nil, :class => "btn btn-sm btn-info disabled", :title => t("alerts.index.button.edit") %>
            <%= link_to "<i class='fa fa-trash-o'></i><span class='hidden-sm hidden-xs'>&nbsp;&nbsp;#{t("alerts.index.button.destroy")}</span>".html_safe, nil, :class => "btn btn-sm btn-danger disabled", :title => t("alerts.index.button.destroy") %>
            <% end %>
          </td>
        </tr>
        <% end %>
        <% if (@alerts.count == 0) %>
          <% if (!@query.blank?) %>
            <tr class="no-elements">
              <td colspan="3">
                <%= raw t("ui.table.no_result") %>
              </td>
            </tr>
          <% else %>
            <tr class="no-elements">
              <td colspan="3">
                <%= raw t("ui.table.no_element") %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <div class='pull-right clearfix'>
      <%= paginate @alerts %>
    </div>
  </div>
</div>
      