<div class="form-group">
  <div class="col-sm-offset-2 col-md-7 col-sm-10">
    <hr class='divider' />
  </div>
</div>
<div class="form-group<% if (!errors.blank?) %> has-error<% end %>">
  <label for="service_probe_config_count" class="col-sm-2 control-label"><%= t("probes.ping_external.form.count") %></label>
  <div class="col-md-7 col-sm-10">
    <%= number_field_tag "probe_config[count]", config[:count], :min => 1, :step => 1, :class => "form-control", :placeholder => t("probes.ping_external.form.count_placeholder"), :required => true %>
    <span class="help-block"><%= t("probes.ping_external.form.count_helper") %></span>
  </div>
</div>
<div class="form-group<% if (!errors.blank?) %> has-error<% end %>">
  <label for="service_probe_config_value" class="col-sm-2 control-label"><%= t("probes.ping_external.form.interval") %></label>
  <div class="col-md-7 col-sm-10">
    <%= number_field_tag "probe_config[interval]", config[:interval], :min => 0.2, :step => 0.1, :class => "form-control", :placeholder => t("probes.ping_external.form.interval_placeholder"), :required => true %>
    <span class="help-block"><%= t("probes.ping_external.form.interval_helper") %></span>
  </div>
</div>