<% content_for :title, t("panel.index.title") %>
<div class="content-index">
  <div class="col-md-8">
    <div class="page-header">
      <h1>
        <%= t("panel.index.title") %>
        <small>
          <%= t("panel.index.subtitle") %>
        </small>
      </h1>
    </div>
    <%= bootstrap_flash %>
    <% service_chart = @services.to_a.shuffle.first
    if (!service_chart.blank?) %>
    <div id="chart-panel" class="panel panel-primary chart-panel"> <!-- chart container -->
      <div class="panel-heading">
        <b><%= t("panel.index.main_chart.title", :service => service_chart.name) %></b>
      </div>
      <div id="chart-container" class="chart-container"></div>
    </div>
    <% end %>
    <div class="results-panels fluid-columns">
      <div class="row">
        <% @services.each do |serv| %>
        <div id="results-panel-<%= serv.id.to_s %>" class="results-panel item">
          <%= render :partial => "panel/panels/results_panel", :locals => {:serv => serv} %>
        </div>
        <% end %>
      </div>
      <% if @services.length == 0 %>
        <div class="no-results">
          <%= raw t("panel.index.no_element") %>
        </div>
      <% end %>
      <hr class="divider" />
    </div>
  </div>
  <div class="col-md-4">
    <div id="alerts-panel" class="alerts-panel">
      <%= render :partial => "panel/panels/alerts_info" %>
    </div><!-- alerts-panel -->
  </div>
</div>

<script>
  var chart_id = null;

  $(document).ready(function() {
    chart_id = chartStart({
      container: $("#chart-container"),
      live: true,
      interval: <%= service_chart.interval %>,
      clean_interval: <%= service_chart.clean_interval %>,
      texts: {
        title: "<%= t('services.results.chart.title', :service => service_chart.name) %>",
        subtitle: "<%= t('services.results.chart.subtitle', :interval => service_chart.interval) %>",
        x_axis: "<%= t('services.results.chart.x_axis') %>",
        y_axis: "<%= t('services.results.chart.y_axis') %> [<%= service_chart.get_units_short %>]",
        legend: "<%= t('services.results.chart.legend', :service => service_chart.name) %>"
      },
      data_url: "<%= results_data_service_path(service_chart.id) %>",
      resume: "<%= service_chart.resume %>"
    });

    setInterval(function() {
      $.getScript("<%= root_path() %>");
    }, <%= @services.map{|s| s = s.interval}.min %>*1000);
  });
</script>